header {
  background: #652b2b;
  max-height: 100px;
  .logo {
    font-weight: bold;
    img {
      width: 40px;
    }
  }
  nav {
    justify-self: right;
    display: inline-flex;
    width: 90%;
    ul {
      list-style-type: none;
      margin: 0; padding: 0;
      width: 100%;
      li {
        float: right;
        a {
          padding: 1.5em;
         }
      }
    }
  }
  a {
    width: 10%;
    display: inline-flex;
    max-height: 70px;
  }
}